.profile {
  background: #fff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  width: 100%;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 100px;
}

.profile_name {
  line-height: 18px;
  padding: 20px;
}
.profile_name .name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}
.profile_name .title {
  font-size: 13px;
  color: #777777;
}
.profile_image {
  margin-top: -18px;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
  clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}

.profile_image img {
  width: 100%;
}

/* information */
.profile_information {
  top: 0;
  left: 0;
  margin: -30px 10px 30px;
}
.profile_information .timeline .timeline_content {
  margin-top: 2px;
  margin-bottom: 12px;
}
.timelineItem_text {
  font-size: 14px;
  font-weight: 400;
  color: #787878;
}
.timelineItem_text > span {
  color: #000;
  font-weight: 500;
}
.timelineItem_text a {
  text-decoration: none;
  cursor: pointer;
  color: tomato;
}
.button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
